### GENERAL SETTINGS ###
# Minio (Internal Datasets, Parquet Tables, Model Binaries)
MINIO_ENDPOINT='localhost:9000'
MINIO_ACCESS_KEY='admin'
MINIO_SECRET_KEY='password123'
#==========================#

# Backblaze Storage (Avatars, Dataset Thumbnails)
BACKBLAZE_ACCESS_KEY_ID="your_keyID"
BACKBLAZE_SECRET_ACCESS_KEY="your_applicationKey"
BACKBLAZE_ENDPOINT_URL="https://s3.backblazeb2.com"
BACKBLAZE_BUCKET_NAME="your_bucketName"
# BACKBLAZE_MAX_FILE_SIZE_MB=100 # Max file size in MB for uploads
#==========================#

# Mongo
MONGODB_CONNECT= "localhost:27017"
#==========================#

# Jwt
SECRET_KEY="secret_key"
ALGORITHM="HS256"
ACCESS_EXPIRE=15
REFRESH_EXPIRE=7
#==========================#

# Email
MAIL_USERNAME="username"
MAIL_PASSWORD="password" # app passwords
MAIL_LOGO="https://abc.png"
#==========================#

# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

REDIRECT_URI="http://localhost:9996"
FRONTEND_URL="http://localhost:3000"
SUPER_SECRET_KEY="secret_key"
#==========================#

# Mqtt
MQTT_HOSTNAME="localhost"
MQTT_PORT=1883
MQTT_USERNAME="admin"
MQTT_PASSWORD="Admin@123"
#==========================#

# Kafka
KAFKA_SERVER="localhost:9092"
KAFKA_TOPIC="train-job-topic"
#==========================#

# Pymapreduce
MAPREDUCE_MODE="local" # 'local' or 'cluster'
MAPREDUCE_HEAD_ADDRESS="localhost:7777"
# MAPREDUCE_WORKER_IDLE_TIMEOUT=300 # Max idle time in seconds for worker child processes before eviction
# MAPREDUCE_ACTOR_IDLE_TIMEOUT=300  # Max idle time in seconds to keep model in worker RAM without requests before eviction
#==========================#

# Note: Use "::" for IPv6 to accept both IPv4 and IPv6 connections
BACKEND_HOST="0.0.0.0"
BACKEND_PORT=9996
# If you build docker for worker server, IP must be able to ping the master server
# If you build docker for master server, IP should be 0.0.0.0
#==========================#

# Cors
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:5173"]
