# Requirements
# Use to pre-installed machine learning libraries for cluster
numpy==1.26.2
pandas==2.2.2
scikit-learn==1.5.1
scikit-optimize==0.10.2
xgboost==3.1.2

pyarrow==21.0.0
fastparquet==2024.11.0
pyyaml==6.0.2
aiofiles==24.1.0

opencv-python==4.10.0.84
pymapreduce-core==0.1.9
